---
layout: default
---

<h2><code>layout</code></h2>

<pre><code class="language-json">
{{ layout | jsonify }}
</code></pre>

{%- capture sx1 %}{% include serialize.xml var=layout top="layout" %}{% endcapture -%}
<pre><code class="language-xml">
{{ sx1 | xml_escape }}
</code></pre>

<h2 id="content"><code>content</code></h2>

<pre><code class="language-json">
{{ content | jsonify }}
</code></pre>

{%- capture sx2 %}{% include serialize.xml var=content top="content" %}{% endcapture -%}
<pre><code class="language-xml">
{{ sx2 }}
</code></pre>

{{ content }}
